.controls {
   width: 75px;
   height: 75px;
   background-color: rgba(164, 69, 237, 0.25);
   border-radius: 50%;
   position: relative;
   transition: all 0.3s ease;
   @media (max-width: 767.98px) {
      width: 48px;
      height: 48px;
   }
}
.controls::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-38%, -50%);
   width: 0;
   height: 0;
   border-top: 11px solid transparent;
   border-left: 20px solid rgb(164, 69, 237);
   border-bottom: 11px solid transparent;
   opacity: 1;
   @media (max-width: 767.98px) {
      border-top: 7px solid transparent;
      border-left: 13px solid rgb(164, 69, 237);
      border-bottom: 7px solid transparent;
   }
}
// .controls:hover {
//    background-color: rgba(164, 69, 237);
//    @media (max-width: 767.98px) {
//       background-color: rgba(164, 69, 237);
//    }
// }
// .controls:hover::before {
//    border-left: 20px solid rgb(255, 255, 255);
//    @media (max-width: 767.98px) {
//       border-left: 13px solid rgb(255, 255, 255);
//    }
// }
.active {
   background-color: rgba(164, 69, 237);
   @media (max-width: 767.98px) {
      background-color: rgba(164, 69, 237);
   }
}
.active::before {
   border-left: 20px solid rgb(255, 255, 255);
   @media (max-width: 767.98px) {
      border-left: 13px solid rgb(255, 255, 255);
   }
}
