.body {
   flex: 1 1 auto;
   height: 100%;
   line-height: 24px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.title {
   margin-top: 44px;
   font-weight: 700;
   font-size: 20px;
   margin-bottom: 24px;
}
.subtitle {
   font-size: 18px;
   color: #757575;
   text-align: center;
   transition: ease transform 0.3s;
}
.subtitle:hover {
   transition: ease transform 0.3s;
   transform: scale(1.02)
}
