@import url("https://fonts.googleapis.com/css?family=Inter:regular,700,700italic");
@import url("https://fonts.googleapis.com/css?family=Lora:regular,700,700italic");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:regular,700");


* {
   padding: 0px;
   margin: 0px;
   border: 0px;
}
*,
*:before,
*:after {
   box-sizing: border-box;
}

:root {
   --light-bg-color: #ffffff;
   --light-text-color: #2d2d2d;

   --dark-bg-color: #050505;
   --dark-text-color: #ffffff;
}
html,
body {
   height: 100%;
   transition: ease all 0.3s;
   min-height: 100%;
}
html,
body[data-font="sans-serif"] {
   font-family: "Inter", sans-serif;
}
html,
body[data-font="serif"] {
   font-family: "Lora", serif;
}
html,
body[data-font="mono"] {
   /* font-family: "Inconsolata"; */
   font-family: "Inconsolata", monospace;
}
body[data-theme="light"] {
   background-color: var(--light-bg-color);
   color: var(--light-text-color);
}
body[data-theme="dark"] {
   background-color: var(--dark-bg-color);
   color: var(--dark-text-color);
}
input,
button,
textarea {
   font-family: inherit;
   font-size: inherit;
}
button {
   cursor: pointer;
   color: inherit;
   background-color: transparent;
}
a {
   color: inherit;
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
